@model IEnumerable<eSnacks.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover text-center caption-top">
    <caption>
        <h1 class="py-3">List of menu items</h1>
        <p>
            <a asp-action="Create" class="btn btn-primary my-3">Create New</a>
        </p>
    </caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider align-middle">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success mx-1">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning mx-1">Edit</a>  
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger mx-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
