@model List<PlacedOrder>

@{ 
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table caption-top my-3">
            <caption class="display-6 my-3 text-center">List of all your orders</caption>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td class="align-middle">@order.PlacedOrderId</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var item in order.InOrders)
                            {
                                <li>
                                    <div class="alert alert-success" role="alert">
                                        <span class="badge text-bg-success">@item.Quantity</span> [@item.Price.ToString("c")] - @item.MenuItem.ItemName
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.InOrders.Select(m => m.MenuItem.Price * m.Quantity).Sum().ToString("c")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <td class="align-middle"> @order.User.FirstName @order.User.LastName </td>
                    }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>