@model IEnumerable<eSnacks.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Address) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                Description
            </th>
            <th>
                Menu items
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Address) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @foreach (var menu in item.MenuItems.DistinctBy(x => x.CategoryId))
                {
                    <li>@menu.Category.CategoryName</li>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RestaurantId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.RestaurantId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
