@using Humanizer
@model IEnumerable<Restaurant>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <style type="text/css">
        .card:hover {
          transform: translateY(-5px);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            opacity: .75;
        }
    </style>
}

<div class="display-3 text-center my-5">Check out Restaurants</div>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
        @foreach (var item in Model)
        {
            <div class="col">
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-black">
                <div class="card shadow mb-4 border-0 h-100">
                        <div class="">
                            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-capitalize mb-3 fs-4 fw-medium">@item.RestaurantName</h5>
                            <div class="card-text text-truncate-3 mx-3 mb-4">@item.Description</div>
                            
                            <div class="text-dark fw-medium my-1">
                                Menu categories
                            </div>
                            <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
                                @foreach (var menu in item.MenuItems.DistinctBy(x => x.CategoryId))
                                {
                                    <div class="d-flex align-items-center px-3">
                                      <i class="bi bi-caret-right-fill me-1" style="font-size: 10px;"></i>
                                      @menu.Category.CategoryName
                                    </div>
                                }
                            </div>
                        </div>
                </div>
                    </a>
            </div>
        }
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.Address) *@
        @* </th> *@
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            Description
        </th>
        <th>
            Menu items
        </th>
        <th>
            Operations
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Address) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @foreach (var menu in item.MenuItems.DistinctBy(x => x.CategoryId))
                {
                    <li>@menu.Category.CategoryName</li>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>